name: Build Documentation

on:
  pull_request:
    branches: [ "main", "release" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade uv
          python -m uv pip install pytest
          python -m uv pip install -e ./cuequivariance
          python -m uv pip install -e ./cuequivariance_jax
          python -m uv pip install -e ./cuequivariance_torch
          python -m uv pip install -r docs/requirements.txt
          python -c "import cuequivariance; print('cue', cuequivariance.__version__)"
          python -c "import cuequivariance_jax; print('cuex', cuequivariance_jax.__version__)"
          python -c "import cuequivariance_torch; print('cuet', cuequivariance_torch.__version__)"
      - name: Build sphinx
        run: |
          sphinx-build -b html docs docs/public
