name: Build Documentation

on:
  pull_request:
    branches: [ "main", "release" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: ./.github/actions/setup-python-uv
        with:
          python-version: "3.14"
      
      - uses: ./.github/actions/setup-docs
      
      - name: Build sphinx
        run: |
          sphinx-build -b html docs docs/public
