name: Build Documentation and Deploy

on:
  push:
    branches: [ "main", "release" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build_deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Pages
        uses: actions/configure-pages@v5
      
      - uses: ./.github/actions/setup-python-uv
        with:
          python-version: "3.13"
      
      - uses: ./.github/actions/setup-docs
      
      - name: Build sphinx
        run: |
          sphinx-build -b html docs docs/public
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/public'
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
