name: Run Tests

on:
  push:
    branches: [ "main", "release" ]
  pull_request:
    branches: [ "main", "release" ]


jobs:

  cuequivariance:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12"]

    steps:
    - uses: actions/checkout@v4
    
    - uses: ./.github/actions/setup-python-uv
      with:
        python-version: ${{ matrix.python-version }}
    
    - uses: ./.github/actions/setup-cuequivariance
      with:
        install-graphviz: 'true'
    
    - name: Test with pytest
      run: |
        pytest --doctest-modules -x -m "not slow" cuequivariance
    
    - name: Downgrade numpy
      run: |
        python -m uv pip install -U "numpy==1.26.*"
    
    - name: Test with pytest (numpy 1.26)
      run: |
        pytest --doctest-modules -x -m "not slow" cuequivariance


  cuequivariance-jax:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.13"]

    steps:
    - uses: actions/checkout@v4
    
    - uses: ./.github/actions/setup-python-uv
      with:
        python-version: ${{ matrix.python-version }}
    
    - uses: ./.github/actions/setup-cuequivariance-jax
    
    - name: Test with pytest
      run: |
        XLA_PYTHON_CLIENT_PREALLOCATE=false pytest --doctest-modules -x -m "not slow" cuequivariance_jax


  cuequivariance-torch:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12"]

    steps:
    - uses: actions/checkout@v4
    
    - uses: ./.github/actions/setup-python-uv
      with:
        python-version: ${{ matrix.python-version }}
    
    - uses: ./.github/actions/setup-cuequivariance-torch
    
    - name: Test with pytest
      run: |
        pytest --doctest-modules -x -m "not slow" cuequivariance_torch
